.heading {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.buttons button {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.buttons button {
  padding: 0.5rem 1rem;
}

.buttons span {
  margin: 0 1rem;
}

.buttonHumanComputer button {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding: 5rem;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  .buttons button {
    margin-bottom: 0;
    width: max-content;
  }

  .buttonHumanComputer button {
    margin-right: 1rem;
  }
}
